.display{
    margin: 10px;
    padding: 10px;
}
.display input{
    width: 300px;
    height: 100px;
    background: lightsteelblue;
    font-weight: 800;
    border: solid black 2px;
    border-radius: 15px;
    font-size: xx-large;
}

.input{
    margin: 10px;    
}
.input input{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.operation input{
    padding: 10px;
    font-weight: 600;
    margin: 10px;
    font-size: medium;
}

form button{
    margin: 10px;
    padding: 15px;
}
